.outerDiv{
    height: 100vh;
    width: 100%;
    background-image: url("C:\Users\JeffrinGoldwinRC\Downloads\isometric-e-learning-background-template.jpg");
    background-repeat: no-repeat;
    background-size: 90%;
}